html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

body {
    padding: 0 !important;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #191919;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    background-image: url("../images/bodybg.png") !important;
    background-attachment: fixed;
    background: #003C74;
    line-height: 1;
}

fieldset {
    display: block;
    min-width: -webkit-min-content !important;
}

.main-header {
    width: 100%;
    height: 120px;
    margin-top: -20px;
    background-image: url(../images/header-bg.png);
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    width: 50%;
    float: left;
}

    .logo img {
        width: 600px;
    }

.top-right {
    width: 50%;
    height: 100px;
    float: right;
    text-shadow: rgba(255, 255, 255, 0.8) -1px 1px 3px;
}

#page-wrapper {
    min-height: 700px;
    background: #F9FBFC;
    position: inherit;
    margin-left: 300px;
    margin-bottom: 20px;
    padding: 0 15px;
    border-left: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Reset Margins Paddin*/
.m0 {
    margin: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.m15 {
    margin: 15px !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mlr15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px;
}

.mlr-20 {
    margin: 5px -20px;
}

.mb-5 {
    margin-bottom: -5px !important;
}

.mt-10 {
    margin-top: -10px !important;
}

/* Padding */
.p0 {
    padding: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.ptb15 {
    padding: 15px 0 !important;
}

.plr15 {
    padding: 0 15px !important;
}

.mtb15 {
    margin: 15px 0 !important;
}

.mt-10 {
    margin-top: -10px !important;
}
/* Float */
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}
/*End restet margin */
/* Margin */
.mt5 {
    margin-top: 5px !important;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.pt10 {
    padding-top: 10px;
}
/* End Margins*/
/* Barra top dashboard Buscador*/
.topbar {
    padding: 3px 10px;
    height: 39px;
    background: #FCF9EC;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 -15px;
}

.ayuda-dash {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 -15px;
    padding: 15px 25px;
}

.hidemenu {
    float: left;
    width: 50px;
    height: 35px;
    border-right: 1px solid #dfdfdf;
}

.opcion-menu {
    font-size: 18px;
    margin: 5px 0;
    padding: 0;
    float: left;
    color: #0656A1;
    margin-left: 10px;
    font-weight: 800;
}
/* End Barra top dashboard */

.hidemenu a.btn {
    padding: 3px 10px !important;
    margin-top: 2px;
}
/* FONTS*/
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-LightItalic.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 900;
}
/* END FONTS*/
/* MENU*/
.titmenu {
    padding: 1px 10px;
    color: #fff;
    background-color: #3e84c0;
    margin-top: -1px;
    border-right: 1px dotted #003C74;
}

    .titmenu h4 {
        font-size: 14px !important;
    }

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu {
    color: #ffffff;
    width: 100%;
    max-width: 300px;
    background: #003c74;
    float: left;
}

    #cssmenu ul ul {
        display: none;
    }

.align-right {
    float: right;
}

#cssmenu > ul > li > a {
    padding: 15px 12px;
    cursor: pointer;
    z-index: 2;
    font-size: 13px;
    border-bottom: 1px dotted #62798E;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
}

    #cssmenu > ul > li > a:hover, #cssmenu > ul > li.active > a, #cssmenu > ul > li.open > a {
        color: #eeeeee;
    }

.holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}

    .holder::after, .holder::before {
        display: block;
        position: absolute;
        /*content: "";*/
        width: 6px;
        height: 6px;
        right: 20px;
        z-index: 10;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .holder::after {
        top: 17px;
        border-top: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }

#cssmenu > ul > li > a:hover > span::after, #cssmenu > ul > li.active > a > span::after, #cssmenu > ul > li.open > a > span::after {
    border-color: #eeeeee;
}

.holder::before {
    top: 18px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}

#cssmenu ul ul li a {
    cursor: pointer;
    border-bottom: 1px solid #32373e;
    border-left: 1px solid #32373e;
    border-right: 1px solid #32373e;
    padding: 10px 20px;
    z-index: 1;
    text-decoration: none;
    font-size: 13px;
    color: #eeeeee;
    background: #49505a;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li.open > a, #cssmenu ul ul li.active > a {
    background: #b63b4d;
    color: #ffffff;
}

#cssmenu ul ul li:first-child > a {
    box-shadow: none;
}

#cssmenu ul ul ul li:first-child > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#cssmenu ul ul ul li a {
    padding-left: 30px;
    background-color: #534456;
}

#cssmenu > ul > li > ul > li:last-child > a, #cssmenu > ul > li > ul > li.last > a {
    border-bottom: 0;
}

#cssmenu > ul > li > ul > li.open:last-child > a, #cssmenu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}

#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}

#cssmenu ul ul li.has-sub > a::after {
    display: block;
    position: absolute;
    /* content: ""; */
    width: 5px;
    height: 5px;
    right: 20px;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#cssmenu ul ul li.active > a::after, #cssmenu ul ul li.open > a::after, #cssmenu ul ul li > a:hover::after {
    border-color: #ffffff;
}

li a.link i {
    float: right;
}

li a.link img {
    margin-right: 5px;
}
/* END MENU*/

/* Data Body */
.data-body {
    margin-top: 15px;
    border: 1px solid #d9d9d9;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.498039) 0 5px 15px;
}
/* End Data Body */

/* Estilos Controles */
.cbo {
    background: #fff url(../images/ic_selectdown.png);
}

.fecha {
    background: #fff url(../images/ic_calendario3.png);
}

.buscar {
    background: #fff url(../images/lupa.png);
}

.area {
    width: 100%;
    resize: none;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    padding: 8px;
}

.area100p-2row {
    width: 100%;
    height: 105px;
    resize: none;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    padding: 8px;
    line-height: 18px;
}

.area100p-1row {
    width: 100%;
    height: 55px;
    resize: none;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    padding: 8px;
    line-height: 18px;
}

.3row {
    height: 150px;
}

.2row {
    height: 100px;
}

.1row {
    height: 50px;
}

.ui {
    width: 100%;
    height: 27px;
    background-position: 99% center;
    background-repeat: no-repeat;
    background-size: 22px;
    padding: 2px;
    padding-right: 30px;
    font-size: 13px;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

fieldset {
    min-width: 0;
    padding: 10px !important;
    margin: 0;
    border: 1px solid #cdcdda !important;
    border-radius: 3px;
}

legend {
    width: auto !important;
    display: block;
    margin: 0 10px;
    padding: 0 5px !important;
    margin-bottom: 5px !important;
    font-size: 14px !important;
    line-height: inherit;
    color: #333 !important;
    border: 0 !important;
}

label {
    font-weight: normal !important;
}

option {
    padding: 0 !important;
}

.dataTables_filter input[type="search"] {
    background: #fff url(../images/lupa.png);
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 23px;
    padding: 6px;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.radio-ui {
    display: block;
    float: left;
}

.cargar {
    background: #fcf9ec url(../images/folder.png);
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 23px;
}

.dataTables_paginate {
    float: right;
    margin: 0;
    font-size: 12px;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #a8cbf0 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.table tr > td, tr > th {
    border: 1px solid #B5B5B5 !important;
}

.table tr > th:first-child {
    border-left: 2px solid #DCDCDC !important;
}

.table tr > th:last-child {
    border-right: 2px solid #DCDCDC !important;
}

.table-m0 {
    margin: -9px;
    margin-bottom: -9px !important;
}

    .table-m0 th {
        color: #3E82BF;
    }

.table_heading {
    background-color: #2e76c2;
    color: #fff;
    font-weight: bold;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: #BED9E8;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
    color: #fff;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
    color: #fff;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(45, 202, 202, 0.4) !important;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #1c94c4;
}

.ui-datepicker {
    font-size: 12px !important;
}

.ui-datepicker-title select {
    font-size: 12px !important;
}

/* TABS*/
.nav-tabs {
    border: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

    .nav-tabs > li > a {
        margin: 0 !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        .nav-tabs > li > a:hover {
            background-color: #e6e6e6;
            border-color: transparent;
        }

    .nav-tabs > li {
        margin-bottom: 1px;
        border-right: 1px solid #d9d9d9 !important;
    }

        .nav-tabs > li > a:hover {
            background: #e6e6e6;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border: transparent;
            border-right: 1px solid #d9d9d9 !important;
        }

        .nav-tabs > li.active {
            position: relative;
            border-bottom: 2px solid #d66061;
        }

            .nav-tabs > li.active:after {
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -12px;
                width: 0;
                height: 0;
                border-bottom: 6px solid #d66061;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                content: "";
            }

            .nav-tabs > li.active:before {
                position: absolute;
                left: 50%;
                bottom: -2px;
                margin-left: -12px;
                width: 0;
                height: 0;
                border-bottom: 6px solid white;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                content: "";
                z-index: 10;
            }

.tab-content {
    padding: 10px 20px;
    margin-bottom: 25px;
    border: 1px solid #d9d9d9;
    border-top: 0;
}

    .tab-content p {
        text-align: justify;
    }

.nav > li > a {
    position: relative;
    display: block;
    border-right: 1px solid #d9d9d9;
    padding: 10px 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0 !important;
    border-bottom-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(237, 243, 249, 0.6) !important;
}

/* END TABS*/
#usr-top a {
    color: #55675F !important;
    padding: 0 !important;
}

#usr-top span {
    float: right;
    display: block;
}

.header_container hgroup, span, h1 {
    margin-top: 20px;
}

#usr-top img {
    float: right;
    width: 46px;
    border: 1px solid #fff;
    margin-right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.header_container img {
    margin-top: 10px;
}

.notif-total {
    position: relative;
    right: 2px;
    top: -21px;
    background-color: #EC472D;
    color: white;
    padding: 5px 7px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 1;
    opacity: 0.95;
}

.notification {
    float: right;
    padding: 7px;
    color: #888;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f4f4f4;
    margin-top: 6px;
    margin-right: -10px;
    border-radius: 2px;
}

.email-list-ntfbody {
    width: 430px;
    max-height: 350px;
    overflow: auto;
}

b, strong {
    color: #60636B;
}

.email-list-ntf-main {
    color: #7f7f7f;
}

.email-list-ntf {
    margin: -5px 0;
    color: #7f7f7f;
    padding: 10px;
    padding-left: 0;
}

.email-list-ntf-main footer {
    font-size: 10px;
}

.email-total {
    position: relative;
    right: 2px;
    top: -22px;
    background-color: #0B7C48;
    color: white;
    padding: 5px 7px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 1;
    opacity: 0.95;
}

.newemail a {
    color: #3b5998 !important;
    cursor: pointer;
    text-decoration: none;
}

.newemail small {
    margin: -15px 0;
}

.fa-envelope-o {
    margin-right: 3px;
}
/* End Estilos menu */
/* Botones */


.btn-nuevo {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding-left: 32px !important;
    padding-right: 15px !important;
}

    .btn-nuevo:hover,
    .btn-nuevo:focus,
    .btn-nuevo:active,
    .btn-nuevo.active,
    .open > .dropdown-toggle.btn-nuevo {
        color: #fff !important;
        background-color: #449d44;
        border-color: #398439;
    }

.btn-editar {
    color: #fff !important;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding-left: 32px !important;
    padding-right: 15px !important;
}

    .btn-editar:hover,
    .btn-editar:focus,
    .btn-editar:active,
    .btn-editar.active,
    .open > .dropdown-toggle.btn-editar {
        color: #fff !important;
        background-color: #31b0d5;
        border-color: #269abc;
    }

.btn-visualizar {
    color: #fff !important;
    background-color: #f0ad4e;
    border-color: #eea236;
    padding-left: 32px !important;
    padding-right: 15px !important;
}

    .btn-visualizar:hover,
    .btn-visualizar:focus,
    .btn-visualizar:active,
    .btn-visualizar.active,
    .open > .dropdown-toggle.btn-visualizar {
        color: #fff !important;
        background-color: #ec971f;
        border-color: #d58512;
    }

.btn-top-div {
    margin: -5px 0px 15px 0;
}

.btn-agregar {
    color: #fff !important;
    background-color: #6ac465;
    border-color: #4cae4c;
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn-agregar:hover {
        color: #fff !important;
        background-color: #65b760;
        border-color: #62ae5d;
    }

    .btn-agregar:active {
        color: #fff !important;
        background-color: #0bd400;
        border-color: #62ae5d;
    }

.btn-editar2 {
    color: #fff !important;
    background-color: #8ba6bf;
    border-color: #8ba6bf;
    display: inline-block;
    padding: 5px 4px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn-editar2:hover {
        color: #fff !important;
        background-color: #829cb4;
        border-color: #748da4;
    }

    .btn-editar2:active {
        color: #fff !important;
        background-color: #3473ae;
        border-color: #748da4;
    }

.btn-borrar {
    color: #fff !important;
    background-color: #da7e6e;
    border-color: #4cae4c;
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .btn-borrar:hover {
        color: #fff !important;
        background-color: #c06c5d;
        border-color: #b16153;
    }

    .btn-borrar:active {
        color: #fff !important;
        background-color: #c01e02;
        border-color: #b16153;
    }

.Inactivo {
    background-color: #B5B3B3;
    padding: 5px;
}

.estado {
    font-size: 10px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.Activo {
    background-color: #46A546;
    padding: 4px 10px 4px 10px;
}
/* ICONOS BOTONES */
.ic_mas {
    background-image: url("../images/ic_btn_nuevo.png") !important;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.ic_lapiz {
    background-image: url("../images/ic_lapiz.png") !important;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.ic_monitor {
    background-image: url("../images/ic_monitor.png") !important;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.ic_home {
    background: url(../images/ic_home.png);
    background-repeat: no-repeat;
    background-position: 99% 2px;
    background-size: 25px;
}

.ic_iphone {
    background: url(../images/ic_iphone.png);
    background-repeat: no-repeat;
    background-position: 99% 2px;
    background-size: 25px;
}

.ic_tel1 {
    background: url(../images/ic_tel1.png);
    background-repeat: no-repeat;
    background-position: 99% 2px;
    background-size: 25px;
}

.ic_email {
    background: url(../images/ic_email.png);
    background-repeat: no-repeat;
    background-position: 99% 2px;
    background-size: 25px;
}

.ic_iexplorer {
    background: url(../images/ic_iexplorer.png);
    background-repeat: no-repeat;
    background-position: 99% 2px;
    background-size: 25px;
}

div.dataTables_filter label {
    float: right;
}

/* FIN ICONOS BOTONES */

/* Login */
.SintilloBandera {
    height: 55px;
    margin-top: -21px;
    border-top: 1px solid #3378b4;
    text-align: center;
    background: -moz-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -webkit-gradient(linear, 180deg, color-stop(0, E0EEFB), color-stop(85%, FFFFFF));
    background: -webkit-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -o-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -ms-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
}

.loginPanel {
    width: 710px;
    margin: auto;
    text-align: center;
}

.topLoginLogo {
    text-align: center;
    margin: 45px 0 35px 0;
}

.loginContainer {
    padding: 30px;
    background-color: #f4f5f6;
}

.tituloBienvenida {
    font-size: 28px;
    margin: 0;
}

.tituloBienvenida2 {
    font-size: 20px;
    margin: 0 0 28px 0;
}

.grad img {
    margin-left: -50px;
}

.loginUI input[type="text"] {
    width: 90%;
    height: 40px;
    background-color: #e0e1e2;
    border-color: #C0C6CC;
    padding: 5px 10px 5px 45px;
}
/* End Login*/
/* caja acciones y botones */
.dv-btn-acciones {
    position: fixed;
    bottom: 0;
    border: 0 !important;
    border-top: 2px solid #d6d6d6 !important;
    z-index: 8;
    left: 0;
    width: 100%;
    background: #dfdfdf;
    padding: 2px 10px 5px 10px !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.botones_nev {
    padding: 25px 20px;
    float: left;
}

.btnNuevoEditVer, .btnGuardarCerrar, .btnNuevoEditVerRGastos, .btnGuardarCerrarRGastos, .btnNuevoEditVerPIngreso, .btnGuardarCerrarPIngreso {
    float: left;
    margin-right: 5px;
}

.btnNuevoEditVerVNomina, .btnGuardarCerrarVNomina {
    float: left;
    margin-right: 5px;
}

.boton {
    margin-top: 3px;
    font-size: 12px;
    color: #404040;
    background-color: #F3EDED;
    padding: 7px 22px 7px 37px;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    background-size: 20px;
    background-position: 10px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #B1B0B0;
    /* box-shadow: 0px 1px 2px #A29898; */
}

    .boton:hover {
        background-color: #f7f7f7;
    }

.boton-editar, .boton-editarRGastos, .boton-editarPIngreso, .boton-editarVNomina {
    background-image: url("../images/editar.ico");
}

.boton-editar2 {
    background-image: url("../images/editar.ico");
}

.boton-add-users {
    background-image: url("../images/add-users.png");
}

.boton-nuevo, .boton-nuevoRGastos, .boton-nuevoPIngreso, .boton-nuevoVNomina {
    background-image: url("../images/new.png");
}

.boton-visualizar, .boton-visualizarRGastos, .boton-visualizarPIngreso, .boton-visualizarVNomina {
    background-image: url("../images/visualizar.png");
}

.boton-marcar_todos {
    background-image: url("../images/marcar_todos.png");
}

.boton-entregar {
    background-image: url("../images/entregar.png");
}

.boton-desmarcar_todos {
    background-image: url("../images/desmarcar_todos.png");
}

.boton-aprobar {
    background-image: url("../images/aprobar.png");
}

.boton-anular {
    background-image: url("../images/anular.png");
}

.boton-atras {
    background-image: url("../images/atras-1.png");
}

.boton-asientos {
    background-image: url("../images/asientoContable.png");
}

.boton-imprimir {
    background-image: url("../images/imprimir.ico");
}

.boton-ingresos {
    background-image: url("../images/ingresos.png");
}

.boton-refrescar {
    background-image: url("../images/refrescar.png");
}

.boton-cerrar-2 {
    background-image: url("../images/cerrar-2.png");
}

.boton-calculadora {
    background-image: url("../images/calculadora.png");
}

.boton-resolucion {
    background-image: url("../images/resolucion.png");
}

.boton-add {
    background-image: url("../images/add.png");
}

.boton-programatica {
    background-image: url("../images/programatica.png");
}

.boton-editar-2 {
    background-image: url("../images/editar-2.png");
}

.boton-editar-2 {
    background-image: url("../images/editar-2.png");
}

.boton-ver {
    background-image: url("../images/ver.png");
}

.boton-image {
    background-image: url("../images/image.png");
}

.boton-camara {
    background-image: url("../images/camara.png");
}

.boton-gasto {
    background-image: url("../images/gasto.png");
}

.boton-subirpresupuesto {
    background-image: url("../images/presupuesto.png");
}

.boton-oficio {
    background-image: url("../images/oficio.png");
}

.boton-copiar {
    background-image: url("../images/copiar.png");
}

.boton-vacio {
    background-image: url("../images/vacio.png");
}

.boton-cargar {
    background-image: url("../images/cargar.png");
}


.boton-ingeniero {
    background-image: url("../images/ingeniero.png");
}

.boton-guardar, .boton-guardarRGastos, .boton-guardarPIngreso, .boton-guardarVNomina {
    background-color: #337ab7;
    color: #fff;
    border-color: #2e6da4;
    background-image: url("../images/guardar.png");
}

    .boton-guardar:hover, .boton-guardarRGastos:hover, .boton-guardarPIngreso:hover, .boton-guardarVNomina:hover {
        background-color: #2661A7;
    }

.boton-guardarN {
    color: #fff;
    background-image: url("../images/guardarN.png");
    background-color: #5bc0de;
    border-color: #46b8da;
}

    .boton-guardarN:hover {
        background-color: #25BFEC;
    }

.boton-cerrar, .boton-volverRGastos, .boton-volverPIngreso, .boton-volverVNomina {
    color: #fff;
    font-size: 13px;
    background-color: #d9534f;
    border-color: #d43f3a;
    background-image: url("../images/cerrar.png");
}

    .boton-cerrar:hover, .boton-volverRGastos:hover, .boton-volverPIngreso:hover, .boton-volverVNomina:hover {
        background-color: #BD312C;
    }

.boton-cargarEmpleados {
    background-image: url("../images/add-user2.png");
}

.boton-user {
    background-image: url("../images/add-user2.png");
}

.boton-procesar {
    background-image: url("../images/procesar.png");
}

.boton-cargar2 {
    background-image: url("../images/cargar2.png");
}

.boton-info {
    background-image: url("../images/info.png");
}

.boton-limpiar {
    background-image: url("../images/limpiar.png");
}

.imgUsuario {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 14px;
}

.boton-cancelar {
    background-image: url("../images/cancelar.png");
}

.acciones, .ModalCerrar {
    float: right;
}

.fl {
    float: left !important;
}

.accion .btn {
    margin-right: 5px;
}

.accion img {
    width: 24px;
}

.btn-acciones-f {
    margin-top: 230px;
    border-top: 0 !important;
}

.btn {
    float: left;
    margin-right: 5px;
}
/* End caja acciones y botones */
/* Footer */
.relleno {
    height: 85px;
    display: inline-block;
    width: 100%;
    background: #fff;
}

.fl {
    float: left !important;
}

.accion .btn {
    margin-right: 5px;
}

.accion img {
    width: 24px;
}

.btn-acciones-f {
    margin-top: 230px;
    border-top: 0 !important;
}


/* Login */
.SintilloBandera {
    height: 55px;
    border-top: 1px solid #3378b4;
    text-align: center;
    background: -moz-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -webkit-gradient(linear, 180deg, color-stop(0, E0EEFB), color-stop(85%, FFFFFF));
    background: -webkit-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -o-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    background: -ms-linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    background: linear-gradient(180deg, #E0EEFB 0, #FFFFFF 85%);
}

.loginPanel {
    width: 700px;
    margin: auto;
    text-align: center;
}

.topLoginLogo {
    text-align: center;
    margin: 35px 0;
}

.loginContainer {
    padding: 20px 30px;
    padding-bottom: 10px;
    background-color: #f4f5f6;
}

.tituloBienvenida {
    font-size: 28px;
    margin: 0;
}

.tituloBienvenida2 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.grad img {
    margin-left: -43px;
}

.loginUI input[type="text"] {
    width: 90%;
    height: 40px;
    background-color: #e0e1e2;
    border-color: #C0C6CC;
    padding: 5px 10px 5px 45px;
}

.rncLoginIcon {
    background-image: url(../images/ic_rnc.png) !important;
    background-repeat: no-repeat !important;
    background-position: 8px 50% !important;
    background-size: 30px !important;
}

.userLoginIcon {
    background-image: url(../images/ic_username.png);
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 30px;
}

.logoSigefLogin {
    width: 240px;
    margin-top: -20px;
}

.passLoginIcon {
    background-image: url(../images/candadoA.png);
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 30px;
}

.tokenLoginIcon {
    background-image: url(../images/token.png);
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-size: 22px;
}

.btn-continuar {
    width: 95%;
    padding: 10px;
    background-image: url(../images/flecha-derecha.png);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 95%;
    background-color: #00529b;
    color: #fff;
    border: 0;
    border-bottom: 3px solid #034178 !important;
}

.btn-continuar2 {
    width: 55%;
    padding: 10px;
    padding-right: 18px;
    background-image: url(../images/flecha-derecha.png);
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 92%;
    background-color: #00529b;
    color: #fff;
    border: 0;
    border-bottom: 3px solid #034178;
}

.btn-volver {
    width: 35%;
    padding: 10px;
    background-color: #2292c5;
    color: #fff;
    border: 0;
    border-bottom: 3px solid #066590;
    margin-right: 10px;
}

.rowLoginBtn {
    margin: 0 !important;
}

.tecladoVirtual {
    width: 80px;
    margin: 20px -20px 0 0px;
}

.recuperaPass {
}
/* End Footer */

/* Keyboard */
.ui-keyboard-preview {
    text-align: left;
    margin: 0 0 3px 0;
    display: inline;
    width: 99%;
    padding: 5px 5px 5px 42px;
    background-color: #e0e1e2;
    border-color: #C0C6CC;
}

.btn-cargar {
    background-size: 18px;
    width: 100%;
    color: white;
    background-position: 4% 40% !important;
    background-repeat: no-repeat;
    background-color: #5bc0de;
    border-radius: 3px;
    border: none;
    background-position: 6% 37% !important;
    background-image: url("../images/upload.png");
    padding: 6px;
}

.block {
    display: block;
}

.tbl-img {
    height: 31px;
    margin-left: 35%;
}

.navbar-right {
    width: 100%;
    float: right !important;
    margin-right: 0 !important;
}

.total {
    background-color: #FAFFBD;
}

/* Dropdown Combobox*/

.dListholder {
    background: #fff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    font-size: 15px;
    border: 1px solid #cdcdda;
    border-radius: 3px;
    -webkit-appearance: none;
}

.dListText {
    padding: 5px 13px;
    color: #333;
    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    overflow: hidden;
}

.dListBtn {
    background: #fff url(../images/ic_selectdown.png);
    width: 26px;
    height: 24px;
    float: right;
    margin-right: 4px;
    margin-top: -23px;
}

.dListBtn,
.dListText:hover {
    cursor: pointer;
}

.dListdivider {
    height: 1px;
}

.dListdrop {
    background-color: #FFFFFF;
    color: #646367;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    width: 100%;
    display: none;
    border: solid 1px #ccc;
}

.dlitem {
    padding: 3px 5px;
    font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 1px;
    border-bottom: 1px dotted #516A8E;
}

.dlithov:hover {
    background: #9BB0D0;
    cursor: pointer;
    color: #333F52;
}

.fleft {
    float: left;
}

.ItemAdded {
    background: #27ae60;
    color: #fff;
}

.dlsearch {
    width: 100%;
    height: 24px;
    background: none;
    border: none;
    padding: 3px 3px;
    font-size: 15px;
    color: #32373e;
}

    .dlsearch:focus {
        outline: none;
    }

.reducepad {
    padding: 2px 30px 3px 5px;
    height: 24px;
}

.dlsearch::-webkit-input-placeholder, .dlsearch:-moz-placeholder, .dlsearch::-moz-placeholder, .dlsearch:-ms-input-placeholder {
    color: #32373e;
    font-size: 15px;
}

.chk .toggle-group .btn {
    float: none !important;
}

.toggle.btn {
    min-height: 30px !important;
}

.number {
    padding-right: 3%;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #C1C6C0 !important;
    color: #0656A1 !important;
}

.ui-state-default .ui-icon {
    background-image: url("../../js/jquery-ui/images/ui-icons_228ef1_256x240.png") !important;
}

.acordeon, .acordeon ul, .acordeon li {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    text-decoration: none;
    list-style: none;
}

.t-acordeon {
    display: flex !important;
    color: #0656B5;
    font-weight: bold;
    padding: 10px !important;
    font-size: 14px;
    border: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-radius: 3px;
    text-decoration: none;
    background-image: url(../images/abajo.png) !important;
    background-repeat: no-repeat !important;
    padding-left: 30px !important;
    background-color: #E3EAE2 !important;
}

    .t-acordeon:hover {
        background-color: #f4f4f4 !important;
        color: #0024ff;
        border: 1px solid #0024ff !important;
    }

.acordeon h5 {
    display: block;
    background: #fff;
    border: 1px solid #CCD2CB;
    padding: 7px;
    cursor: pointer;
}

    .acordeon h5:hover {
        color: #0024ff;
    }

.sub-menu {
    margin-left: 10px;
}

    .sub-menu > li {
        margin-top: -10px;
    }

.acordeon > div {
    margin-top: -11px !important;
}

.ui-accordion .ui-accordion-content {
    padding: 18px 0 0 0 !important;
    height: 100% !important;
}

.modal-header {
    padding: 8px 15px !important;
}

.img {
    text-align: center;
}

    .img a img {
        width: 80px;
        padding: 4px;
        margin: 0 3px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

.newImg {
    border-top: 1px solid #e7eaec;
    padding: 20px;
    margin: 0 15px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: #337AB7;
}

    .newImg > .btn {
        float: none;
    }

.addon2 {
    background-color: #fff !important;
    border: none !important;
    padding: 0 !important;
}

.addonInput {
    border: 1px solid #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    width: 63px;
    margin-right: 7px;
}

.descripcionTb {
    font-weight: bold;
    text-align: center;
    border: 1px solid #2196F3;
    background: #EBF9FF;
    padding-right: 2px;
    margin-bottom: 10px;
}

.descBorderBlue {
    border: 1px solid #2196F3;
    padding: 3px;
}

.modal-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/* Modal wide*/
.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.dv-btn-acciones .dropdown-menu {
    margin-left: -36px !important;
}

.dropup button span {
    margin: 0;
}

.dropup ul.dropdown-menu {
    max-width: 250px;
    padding: 5px;
    background-color: rgb(62, 132, 192);
    border: 2px solid rgb(53, 111, 165);
}
